# secrets
.envrc.private

# nix
.direnv
result*

# terraform
.terraform
*.tfstate.backup
*.tfstate.lock.info
.terraform-deploy-key
.terraform.lock.hcl

# terranix
config.tf.json

# macos
**/.DS_Store
